# Driver
#driver=oracle.jdbc.pool.OracleDataSource
driver=com.mysql.jdbc.jdbc2.optional.MysqlDataSource

# ICAT connection properties
#icatProperties=url="'"jdbc:oracle:thin:@//localhost:1521/XE"'":ImplicitCachingEnabled=true:MaxStatements=200:user=icat:password=secret 
icatProperties=user=icat:password=secret:databaseName=icat

# Must contain "glassfish/domains"
glassfish=/home/fisher/pf/glassfish3

# Port for glassfish admin calls (normally 4848)
port=4848

# Username and password for the icatadmin command
admin.user=icatadmin
admin.password=changeme
