/* 
    Document   : Reports
    Created on : 14-Apr-2011, 16:08:46
    Author     : scb24683
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#LogoPanel {
    padding-bottom: 20px;
}

#TitlePanel {
    height: 30px;
    width: 100%;
}


#MainPanel {

    padding-top: 50px;
}


.top {
    background-color: #ffffff;
}

.white {
    background-color: #ffffff;
}

.grey {
    background-color: #dad9d9;
}


