# Real comments in this file are marked with '#' whereas commented out lines
# are marked with '!'

# The lifetime of a session
lifetimeMinutes = 120

# Provide CRUD access to authz tables
rootUserNames = db/root

# Restrict total number of entities to return in a search call
maxEntities = 10000

# Maximum ids in a list - this must not exceed 1000 for Oracle
maxIdsInQuery = 500

# Size of cache to be used when importing data into ICAT	
importCacheSize = 50

# Size of cache to be used when exporting data from ICAT
exportCacheSize = 50
	
# Desired authentication plugin mnemonics
authn.list = db ldap simple anon

# Parameters for each of the four plugins
authn.db.url       = https://localhost:8181

authn.ldap.url       = https://localhost:8181
authn.ldap.admin    = true
authn.ldap.friendly = Federal Id

authn.simple.url       = https://localhost:8181

authn.anon.url       = https://localhost:8181
authn.anon.friendly = Anonymous

# Notification setup
notification.list = Dataset Datafile
notification.Dataset = CU
notification.Datafile = CU

# Call logging setup
log.list = SESSION WRITE READ INFO

# Lucene
lucene.url = https://localhost:8181
lucene.populateBlockSize = 10000
# Recommend setting lucene.searchBlockSize equal to maxIdsInQuery, so that all Lucene results can be authorised at once
# If lucene.searchBlockSize > maxIdsInQuery, then multiple auth checks may be needed for a single search to Lucene
# The optimal value depends on how likely a user's auth request fails: larger values are more efficient when rejection is more likely
lucene.searchBlockSize = 1000
lucene.directory = ${HOME}/data/icat/lucene
lucene.backlogHandlerIntervalSeconds = 60
lucene.enqueuedRequestIntervalSeconds = 5
# The entities to index with Lucene. For example, remove 'Datafile' and 'DatafileParameter' if the number of datafiles exceeds lucene's limit of 2^32 entries in an index
!lucene.entitiesToIndex = Datafile Dataset Investigation InvestigationUser DatafileParameter DatasetParameter InvestigationParameter Sample

# List members of cluster
!cluster = http://vm200.nubes.stfc.ac.uk:8080 https://smfisher:8181				

# Optional key which must match that of the IDS server if the IDS is in use and has a key for digest protection of Datafile.location
!key = ???
