# Glassfish
secure         = true
container      = Glassfish
home           = /home/fisher/pf/glassfish4
port           = 4848

# WildFly
!secure         = false
!container      = JBoss
!home           = /home/fisher/pf/wildfly
!port           = 9990

# Oracle
!db.driver      = oracle.jdbc.pool.OracleDataSource
!db.url         = jdbc:oracle:thin:@//lcgdb02-vip.gridpp.rl.ac.uk:1521/orisa.gridpp.rl.ac.uk
!db.url         = jdbc:oracle:thin:@//localhost:1521/XE
!db.username    = icat
!db.password    = secret

# Optional Oracle
!db.target      = Oracle11
!db.logging     = FINE

# MySQL
db.driver      = com.mysql.cj.jdbc.MysqlDataSource
db.url         = jdbc:mysql://localhost:3306/icat
db.username    = icat
db.password    = secret

# Optional MySQL
!db.target      = MySQL
!db.logging     = FINE