<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/beans/spring-context-3.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>icat.properties</value>
			</list>
		</property>
	</bean>

	<bean id="configuration" class="uk.icat.cmd.entity.Configuration">
		<property name="user" value="${username}" />
		<property name="password" value="${password}" />
		<property name="url" value="${wsdl}" />
	</bean>

	<bean id="cmdProcessor" class="uk.icat.cmd.CmdProcessor">
		<property name="chain" ref="argumentReader" />
	</bean>

	<bean id="icatUtil" class="uk.icat.cmd.util.IcatUtil">
		<constructor-arg ref="configuration" />
	</bean>

	<bean id="methodHelper" class="uk.icat.cmd.util.MethodHelper">
		<constructor-arg value="#{ T(uk.icat3.client.ICAT) }" />
	</bean>


	<bean id="argumentReader" class="uk.icat.cmd.chain.ArgumentReader">
		<property name="methodHelper" ref="methodHelper" />
		<property name="helpUtil" ref="helpUtil" />
		<property name="next" ref="parameterExtractor" />
	</bean>

	<bean id="parameterExtractor" class="uk.icat.cmd.chain.ParameterExtractor">
		<property name="methodHelper" ref="methodHelper" />
		<property name="next" ref="commandLineProcessor" />
	</bean>

	<bean id="commandLineProcessor" class="uk.icat.cmd.chain.CommandLineProcessor">
		<property name="helpUtil" ref="helpUtil" />
		<property name="next" ref="parameterParser" />
	</bean>
	
	<bean id="parameterParser" class="uk.icat.cmd.chain.ParameterParser">
		<property name="icatUtil" ref="icatUtil" />
		<property name="next" ref="methodExecutor" />
	</bean>

	<bean id="methodExecutor" class="uk.icat.cmd.chain.MethodExecutor">
		<property name="targetService" value="#{ icatUtil.getService() }" />
		<property name="helpUtil" ref="helpUtil" />
		<property name="next" ref="resultPrinter" />
	</bean>

	<bean id="resultPrinter" class="uk.icat.cmd.chain.ResultPrinter" />

	<bean id="helpUtil" class="uk.icat.cmd.util.HelpUtil" >
		<property name="service" value="#{ icatUtil.getService() }" />
	</bean>


</beans>