<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

    <properties>
        <title>ICAT Authentication Plugins</title>
    </properties>

    <body>

        <section name="Overview">

            <p>
                ICAT needs one or more authentication plugins to authenticate users. Each plugin is deployed as an EJB and is located via JNDI. This
                authentication component provides an Authenticator interface and utility classes as described in the
                <a href="apidocs/index.html">Javadoc.</a>
            </p>



        </section>
    </body>
</document>
			
